@model ContosoUniv.InputModels.Student.ViewGradesInputMdl
@{
    ViewData["Title"] = "Grades";
}

<h2>My Grades</h2>
<hr />
<h5>@Model.FullName</h5>
<br />
@if ( Model.GradeList == null )
{
    <p>No grades found.</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Grade</th>
        </tr>
    </thead>
    @foreach ( var grade in Model.GradeList )
    {
        <tr>
            <td>
                @grade.CourseName
            </td>
            <td>
                @grade.Grade
            </td>
        </tr>
    }
</table>
}