@model ContosoUniv.InputModels.Instructor.ViewCoursesInputMdl
@{
    ViewData["Title"] = "Courses";
}
<h2>My Courses</h2>
<hr />
<h5>@Model.FullName</h5>
<br />
@if ( Model.CourseList == null )
{
    <p>No courses found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Credits</th>
                <th>Department</th>
            </tr>
        </thead>
        @foreach ( var course in Model.CourseList )
        {
            <tr>
                <td>
                    @course.CourseName
                </td>
                <td>
                    @course.NumCredits
                </td>
                <td>
                    @course.Department
                </td>
            </tr>
        }
</table>
}